*{
	box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
header{
	height: 200px;
	width: 100%;
	background-color: #DD1C1A;
	color: white;
	text-align: left;

	clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 50% /* left bottom */
  	);
	-webkit-clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 50% /* left bottom */
  	);
}
body { 
  background-image: url('../images/background_wall_chat_app.jpg');
  background-attachment: fixed;
    background-position: center;
   background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1000;

}
/*#navburger{
	transition: transform .4s ease;
	display: inline;
	position: relative;
	left: 85%;
	top: -50px;
}
.hamburger-nav-bar{
	width: 45px;
    height: 6px;
    background-color: #00ffb0;
    margin: 8px 0;
}*/
#hero h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 38px;
	padding: 35px 40px 0px 40px;
}
.box{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
}
#what{
	transition: width .6s ease;
	transition: left .6s ease;
	background-color: #086788;
	padding-top: 100px;
	height: 325px;
	width: 28%;
	position: relative;
	left: 28%;
	top: -100px;
}
#what a{
	transition: font-size .4s ease;
	text-decoration: none;
	color: white;
	font-size: 50px;
	font-weight: 500;
}
#what a:hover{
	font-size: 80px;
}
#what:hover{
	width: 70%;
	left: 10%;
}
#why{
	transition: width .6s ease;
	transition: left .6s ease;
	background-color: #DD1C1A;
	padding: 100px;
	height: 370px;
	width: 32%;
	position: relative;
	left: 52%;
	top: -200px;
}
#why a{
	transition: font-size .4s ease;
	text-decoration: none;
	color: white;
	font-size: 45px;
	font-weight: 500;
}
#why a:hover{
	font-size: 70px;
}
#why:hover{
	width: 70%;
	left: 20%;
}
#how{
	transition: width .6s ease;
	transition: left .6s ease;
	transition: top .6s ease;
	background-color: #FFF1D0;
	padding: 50px;
	height: 300px;
	width: 27%;
	position: relative;
	left: 35%;
	top: -380px;
}
#how a{
	transition: font-size .4s ease;
	text-decoration: none;
	color: black;
	font-size: 40px;
	font-weight: 500;
}
#how a:hover{
	font-size: 62px;
}
#how:hover{
	width: 70%;
	left: 12%;
	top: -600px;
}
#login{
	transition: width .6s ease;
	transition: left .6s ease;
	transition: top .6s ease;
	transition: height .6s ease;
	background-color: #d8b407;
	padding: 50px;
	height: 145px;
	width: 21%;
	position: relative;
	left: 11%;
	top: -800px;
}
#login a{
	transition: font-size .4s ease;
	color: white;
	font-size: 35px;
	text-decoration: none;
	font-weight: 500;
}
#login:hover{
	width: 70%;
	height: 225px;
	left: 5%;
	top: -900px;
}
#login a:hover{
	font-size: 62px;
}
.overlay{
	margin: 0px auto 0px auto;
	height: 600px;
	width: 75%;
	position: relative;
	top: -75px;
	border-radius: 8px;
	font-family:'Montserrat', sans-serif;
	z-index: 1000;
}
#what-block{
	display: none;
	background-color: #086788;
	color: white;
}
#why-block{
	display: none;
	background-color: #DD1C1A;
	color: white;
}
#how-block{
	display: none;
	background-color: #FFF1D0;
	color: black;
}
#login-block{
	display: none;
	background-color: #d8b407;
	color: white;
}
#mid-content{
	height: 400px;
	width: 90%;
	border-top: 10px solid #DD1C1A;
	border-radius: 8px;
	margin: 0px auto 0px auto;
	background-color: #086788;
	color: white;
	position: relative;
	top: -400px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px 0px 0px 40px;
	font-size: 33px;

	clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    50% 50%, /* right bottom */
	    0 100% /* left bottom */
  	);
	-webkit-clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    50% 50%, /* right bottom */
	    0 100% /* left bottom */
  	);
}
.mid-p{
	margin-top: 18px;
}
#footer{
	width: 100%;
	height: 300px;
	background-color: #DD1C1A;
	color: black;
	margin-top: -300px;

	clip-path: polygon(
	   
	    0 50%, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 100% /* left bottom */
  	);
	-webkit-clip-path: polygon(
	   
	    0 50%, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 100% /* left bottom */
  	);
}
/*test form for login*/
/*******************************/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}
.label-text{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
/* Set a style for all buttons */
button {
	transition: width .6s ease;
    background-color: #086788;
    color: white;
    padding: 14px 20px;
    margin: 10px auto 0px auto;
    border: none;
    cursor: pointer;
    width: 40%;
}

/* Add a hover effect for buttons */
button:hover {
    width: 70%;
    border: 3px solid white;
}

#login-wrapper{
	text-align: center;
}
#login-button{
	border-radius: 6px;
	height: 50px;
	margin-top: 15px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
/* Extra style for the cancel button (red) */
.cancel{
	padding: 0px 25px 0px 25px;
}
.cancelbtn {
	transition: width .6s ease;
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    color: white;
}
.cancelbtn:hover{
	width: 100px;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
	margin-top: 25px;
	height: 235px;
    width: 45%;
    border-radius: 8px;
}

/* Add padding to containers */
.container {
    padding: 16px;
    width: 60%;
    margin: 0px auto 0px auto;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}