*{
	box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
header{
	height: 250px;
	width: 100%;
	background-color: black;
	color: #00ffb0;
	text-align: left;

	clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 50% /* left bottom */
  	);
	-webkit-clip-path: polygon(
	   
	    0 0, /* left top */
	    100% 0, /* right top */ 
	    100% 100%, /* right bottom */
	    0 50% /* left bottom */
  	);
}
/*#navburger{
	transition: transform .4s ease;
	display: inline;
	position: relative;
	left: 85%;
	top: -50px;
}
.hamburger-nav-bar{
	width: 45px;
    height: 6px;
    background-color: #00ffb0;
    margin: 8px 0;
}*/
#hero h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 60px;
	padding: 40px 40px 0px 40px;
}
.box{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px;
}
#what{
	transition: width .6s ease;
	transition: left .6s ease;
	background-color: #ffff00;
	padding-top: 100px;
	height: 350px;
	width: 30%;
	position: relative;
	left: 28%;
	top: -100px;
}
#what a{
	transition: font-size .4s ease;
	text-decoration: none;
	color: #c0c0c0;
	font-size: 50px;
}
#what a:hover{
	font-size: 70px;
}
#what:hover{
	width: 70%;
	left: 10%;
}
#why{
	transition: width .6s ease;
	transition: left .6s ease;
	background-color: #00ffb0;
	padding: 100px;
	height: 450px;
	width: 35%;
	position: relative;
	left: 52%;
	top: -200px;
}
#why a{
	transition: font-size .4s ease;
	text-decoration: none;
	color: black;
	font-size: 50px;
}
#why a:hover{
	font-size: 70px;
}
#why:hover{
	width: 70%;
	left: 20%;
}
#how{
	transition: width .6s ease;
	transition: left .6s ease;
	transition: top .6s ease;
	background-color: #c0c0c0;
	padding: 50px;
	height: 320px;
	width: 27%;
	position: relative;
	left: 35%;
	top: -425px;
}
#how a{
	transition: font-size .4s ease;
	text-decoration: none;
	color: #ffff00;
	font-size: 38px;
}
#how a:hover{
	font-size: 55px;
}
#how:hover{
	width: 70%;
	left: 12%;
	top: -600px;
}
#login{
	transition: width .6s ease;
	transition: left .6s ease;
	transition: top .6s ease;
	transition: height .6s ease;
	background-color: black;
	padding: 50px;
	height: 145px;
	width: 21%;
	position: relative;
	left: 11%;
	top: -900px;
}
#login a{
	transition: font-size .4s ease;
	color: #00ffb0;
	font-size: 30px;
	text-decoration: none;
}
#login:hover{
	width: 70%;
	height: 225px;
	left: 5%;
	top: -1000px;
}
#login a:hover{
	font-size: 55px;
}
.overlay{
	margin: 0px auto 0px auto;
	height: 600px;
	width: 75%;
	position: relative;
	top: -75px;
	border-radius: 8px;
	font-family: font-family: 'Montserrat', sans-serif;
}
#what-block{
	display: none;
	background-color: #ffff00;
	color: #c0c0c0;
}
#why-block{
	display: none;
	background-color: #00ffb0;
	color: black;
}
#how-block{
	display: none;
	background-color: #c0c0c0;
	color: #ffff00;
}
#login-block{
	display: none;
	background-color: black;
	border: solid 4px #00ffb0;
	color: #00ffb0;
}
/*test form for login*/
/*******************************/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}
.label-text{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
}
/* Set a style for all buttons */
button {
    background-color: #00ffb0;
    color: black;
    padding: 14px 20px;
    margin: 10px auto 0px auto;
    border: none;
    cursor: pointer;
    width: 40%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

#login-wrapper{
	text-align: center;
}
#login-button{
	border-radius: 6px;
	height: 50px;
	margin-top: 15px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
/* Extra style for the cancel button (red) */
.cancel{
	padding: 0px 25px 0px 25px;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
    width: 60%;
    margin: 0px auto 0px auto;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}